# Blacklist everything
*
# Whitelist all directories
!*/
# Whitelist the file you're interested in.
!*.c
!*.h
!*.md
!*.pdf
!*.sh
!*.json
!*.toml
!Makefile
!.gitignore
!.gitmodules
!.clang-format
!libft/
